@page
@model GroceryStore.Pages.StaticCartModel

@{
    ViewData["Title"] = "Cart";
}

<div>
    <form method="post">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Item</th>
                    <th scope="col">Quantity</th>
                </tr>
            </thead>
            <tbody>
                @foreach (KeyValuePair<GroceryStore.Models.GroceryItem, int> item in Model.CartItems)
                {
                    <tr>
                        <td>@item.Key.Name</td>
                        <td>
                            @*<input type-"hidden" value="@item.Key" asp-for="@Model.CartItems["/>*@
                            <input type="number" value="@item.Value" asp-for="@Model.CartItems[item.Key]" />
                            @*<button type="submit" asp-page-handler="Change">Update</button>*@
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </form>

    <div>
        <p>Total Cost: $@String.Format("{0:0.00}", Model.TotalCost)</p>
    </div>
</div>